.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
build/set-wallpaper/base_library.zip
build/set-wallpaper/set-wallpaper.exe.manifest
dist/set-wallpaper.exe.notanexecutable
set-wallpaper.spec
dist/set-wallpaper.exe
build/set-wallpaper/Analysis-00.toc
build/set-wallpaper/EXE-00.toc
build/set-wallpaper/PKG-00.toc
build/set-wallpaper/PYZ-00.pyz
build/set-wallpaper/PYZ-00.toc
build/set-wallpaper/set-wallpaper.pkg
build/set-wallpaper/warn-set-wallpaper.txt
build/set-wallpaper/xref-set-wallpaper.html
build/set-wallpaper/localpycs/pyimod01_archive.pyc
build/set-wallpaper/localpycs/pyimod02_importers.pyc
build/set-wallpaper/localpycs/pyimod03_ctypes.pyc
build/set-wallpaper/localpycs/pyimod04_pywin32.pyc
build/set-wallpaper/localpycs/struct.pyc
